body {
    background-color: rgb(223, 214, 200);
    font-family: sans-serif;
}

h1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 250%;
    font-weight: bolder;
    text-align: center;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

p {
    font-size: 130%;
}

li {
    font-size: 120%;
    margin-bottom: 30px;
}

a {
    font-size: 100%;
    font-weight: bolder;
}

header {
    background-color: rgb(29, 28, 28);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px 30px 0px ;
    margin-bottom: 50px;
}

aside {
    display: block;
    float: right;
    margin: 50px 25px 50px 200px;
    padding: 0px 25px 0px 20px;
    border: 5px solid;
}

nav {
    background-color: white;
    margin: 30px 0px 80px 0px;
    padding: 20px 0px 20px 0px;
    border: 2px solid;
}

footer {
    background-color: rgb(29, 28, 28);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 100px;
}

.celda_redes {
    background-color: rgb(37, 37, 37);
    border: 1px solid;
    padding: 10px 50px 10px 50px;
}


.celda_redes a img{
    width: 60px;
    height: 60px;
}

.title {
    color: rgb(148, 8, 8);
}

.title_ing {
    color: rgb(148, 8, 8);
    padding-left: 50px;
}

.contacto {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contacto a {
    color: white;
    font-size: 150%;
    text-decoration: none;
}

.img_alfajor {
    width: 160px;
    height: 160px;
}

.img_wsp {
    position: fixed;
    bottom: 20px;
    right: 50px;
}

.img_wsp a img {
    width: 60px;
    height: 60px;
}

.links a{
    margin-left: 35px;
}

.iframe_video {
    margin-bottom: 10px;
}

.iframe_map {
    width: 350px;
    height: 150px;
}