@font-face {
    font-family: "arial_rounded";
    src: url("../fuente/ARLRDBD.TTF")
    format(truetype); 

    font-family: "cooper";
    src: url("../fuente/COOPBL.TTF")
    format(truetype);
}


body {
    background-color: rgb(223, 214, 200);
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}


/* Degradado cuando la página se vea en el celular */
@media (max-width: 767px) {
    body {
        background: linear-gradient(white, rgb(28, 110, 177))
    }
}

/* Degradado lateral cuando la página se vea en una tablet */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        background: linear-gradient(to right, rgb(28,110,177), white, rgb(28,110,177), white, rgb(28,110,177));
    }
}


h1 {
    color: white;
    font-family: "cooper";
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(148, 8, 8);
    margin: 30px 0px 10px 0px;
}

h3 {
    font-family: "arial_rounded";
    font-size: 1.5rem;
    color: rgb(148, 8, 8);
}

p {
    font-size: 1.3rem;
}

li {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

a {
    font-size: 1rem;
    font-weight: bolder;
    text-decoration: none;
}


header {
    background-color: rgb(29, 28, 28);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 30px 0px 30px 0px;
}

.img_bandera {
    width: 150px;
    border-radius: 5px;
}

.celda_redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(37, 37, 37);
    padding: 10px;
    border: 1px solid;
}

.celda_redes a:hover {
    transform: scale(1.1);
}

.celda_redes a img{
    width: 60px;
    margin: 7px;
}

.logo_ig img {
    border-radius: 50%;
}



.espacio {
    margin-left: 10px;
}

.espacio section h2 {
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    color: rgb(148, 8, 8);
    margin: 20px 0px 10px 0px;
}

.espacio section a {
    font-size: 1rem;
    font-weight: bolder;
    text-decoration: underline;
}

@media (max-width: 991px) {
    .espacio {
        margin: 0px 15px 0px 15px;
    }
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.iframe_video {
    width: 500px;
    height: 300px;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .iframe_video {
        display: none;
    }
}

.img_alfajores {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.img_alfajores img {
    width: 40%;
}

/* Cuando la resolución sea mayor a la de un celular, desaparece la imagen del alfajor */
@media (min-width: 992px) {
    .img_alfajores {
        display: none;
    }
}


nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(29, 28, 28);
    box-sizing: border-box;
    margin: 30px 10px 50px 0px;
    padding: 20px 0px 20px 0px;
    border: 2px solid;
}


/* Contenido de los ingredientes y la preparacion */
.preparacion_ingredientes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.preparacion_ingredientes section {
    width: 70%;
}

#title_prep {
    font-weight: bolder;
    margin-bottom: 30px;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    padding: 0px 130px 0px 130px;
    margin-right: 90px;
    border: 5px solid;
}

#title_ing {
    font-weight: bolder;
    padding: 20px 0px 20px 0px;
}

@media (max-width: 767px){
    aside {
        order: 1;
        border: none;
        width: 20%;
    }

    aside li {
        margin-right: 140px;
    }

    #title_ing {
        margin-right: 80px;
    }

    .preparacion_ingredientes section {
        order: 2;
    }
}



.links a{
    text-decoration: none;
    margin-left: 35px;
}

.links a:link {
    color: white;
}

.links a:visited {
    color: darkgoldenrod;
}

.links a:active {
    color: rgb(2, 75, 71);
}

.links a:hover {
    background-color: red;
    font-size: 1.1rem;
}



.row {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5%;
    text-align: center;
    margin-top: 70px;
}

.card {
    margin-bottom: 10px;
}

.img_wsp {
    position: fixed;
    bottom: 20px;
    right: 30px;
}

.img_wsp a img {
    width: 60px;
    border-radius: 40%;
}



footer {
    background-color: rgb(29, 28, 28);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    padding-bottom: 20px;
    margin-top: 100px;
}

.iframe_map {
    width: 300px;
    height: 140px;
    margin-top: 30px;
}